* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

.hidden {
  display: none;
}

.title {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 50px;
}

.main {
  width: 100%;
  text-align: center;
}

.start_omikuji {
  animation-name: updown;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.pre_omikuji {
  animation: updown 0.1s ease-in-out infinite alternate,fadeOut 3s both;
}


@keyframes updown {
  0% {
      transform: translate(0,0px);
  }

  100% {
      transform: translate(0,-20px)
  }
}

.fadeout {
  animation : fadeOut 3s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadein {
  animation : fadein 1s;
  animation-fill-mode: both;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform:scale(10);
  }
  100% {
    opacity: 1;
    transform:scale(1);
  }
}

.omikuji {
  width: 300px;
}

.omikuji_result {
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

/* @keyframes fadein {
  from {
    opacity:0;
    transform:scale(8);
  }
} */


.under_title {
  margin-top: 30px;
  font-size: larger;
  font-weight: bold;
  color: deeppink;
}

/* 点滅 */
.blinking{
	animation: flash 0.8s linear infinite;
}

@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.reset_btn {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-bottom: 5px solid #2a3fc5;
  transition: 0.3s;
  background-color: #5467eb;
}

.reset_btn:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

.twitter_area {
  text-align: center;
  margin-bottom: 60px;
}

.twitter_img {
  width: 150px;
}